
# API URLs
API_HOST=
SRV_API=http://

# Middle wares
SRV_RABBITMQ=
SRV_MYSQL=
SRV_MEMCACHED=

# Region name
REGION=RegionOne

# Network config
## Value for linux_bridge.physical_interface_mappings
## Example: copper:eth-copper,fiber:eth-fiber
NET_INTF_MAP=
## Value for ml2_type_vlan.network_vlan_ranges
## Example: copper:1:4094,fiber:1:4094
NET_VLAN_RANGE=
## Value for ml2_type_flat.flat_networks
## Example: copper,fiber
NET_FLAT_NETWORKS=

# Local IPv4 Address for host
LOCAL_IP=

# Enable OpenStack Nova Compute Service in node
USE_NOVA_COMPUTE=1

# Enable OpenStack Cinder Volume Service in node
USE_CINDER_VOLUME=1

# Enable OpenStack Neutron L3 Agent Service in node
USE_NEUTRON_AGENT_L3=1

# Enable OpenStack Neutron DHCP Agent Service in node
USE_NEUTRON_AGENT_DHCP=1

# Enable OpenStack Neutron Metadata Agent Service in node
USE_NEUTRON_AGENT_METADATA=1

# Enable OpenStack Neutron Linux Bridge Agent Service in node
USE_NEUTRON_AGENT_LINUXBRIDGE=1

# Set lvm2 volume group name for OpenStack Cinder Volume Service in node
CINDER_LVM_GROUP=
